*{
	margin: 0;
	box-sizing: border-box;
    padding: 0;
}

body{
	display: flex;
	flex-direction: column;
}

.navbar{
    display: flex;
    min-width: 100%;
    position: fixed;
    flex: 0 0 auto;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/534/379/small/RR-v-apr-2019-16.jpg);
    color: white;
    height: 60px; 
    border-bottom: 7.5px solid rgb(119, 8, 86); 
    list-style: none;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    text-shadow: 3px 3px 3px rgb(250, 246, 246);
    padding: 0 20px;
}

.navbar li{
    display: inline-block;
}

.mt-header-left{
    margin-left: 20px;
}

.mt-header-right{
    margin-right: 20px;
}

.container {
    flex: 0 0 auto; 
    justify-content: center;
    align-items: center;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    border-radius: 20px;
}

.header{
    flex: 0 0 auto;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/534/379/small/RR-v-apr-2019-16.jpg);
    color: white;
    height: 60px; 
    border-bottom: 7.5px solid rgb(119, 8, 86); 
    font-size: 20px;
    box-shadow: inset 1px 0 0  rgb(190, 6, 135);
}

.header2{
    flex: 0 0 77.17%;
    max-width: 77.17%;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/534/379/small/RR-v-apr-2019-16.jpg);
    color: white;
    height: 60px; 
    border-bottom: 7.5px solid rgb(119, 8, 86); 
    box-shadow: inset 1px 0 0  rgb(190, 6, 135);
    
}

.h4_header{   
    margin-top: 15px;
    margin-left: 10px;
    font-size: 25px; 
    text-shadow: 10px 10px 10px black;
}

.textalign_right{
    text-align: right;
    margin-right: 10px;
}


