.container {
    flex: 1 0 auto; 
    justify-content: center;
    align-items: center;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    
}

.header{
    flex: 0 0 33%;
    max-width: 33;
    background-color: rgba(15, 75, 110, 0.795);
    color: white;
    align-items: center;
    height: 60px; 
    border: 1px solid white; 
}

.button_header{
    margin: 10px 120px;
    align-items: center;
    font-size: 30px;
    background-color: rgba(15, 75, 110, 0.795);
}


