*{
    padding:0;
	margin: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	margin: 0px 0px;
    background-image: url(https://data.whicdn.com/images/316146387/original.jpg?t=1531781996);
    background-attachment: fixed
}

navbar{
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 1000;
}

.contenedor{
	flex: 1 0 auto;
    max-width: 100%;
    overflow: hidden;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    margin-top: 25px;
    width:100%;
   
    overflow: hidden;
}

.row-form{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    margin-top: 25px;
    margin-left: 15%;
    overflow: hidden;
}

.column-20{
	flex: 0 0 20%;
	max-width: 20%;
    box-shadow: 3px;
}

.column-15{
	flex: 0 0 15%;
	max-width: 15%;
    background-color: rgba(0,0,0,.2);
    position: fixed;
    width: 15%;
    top: 60px;
    bottom: 0;
}

.column-70{
	flex: 0 0 60%;
	max-width: 60%;
}

.aligncenter{
    align-items: center;
}

.navbar{
    display: flex;
    min-width: 100%;
    flex: 0 0 auto;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/534/379/small/RR-v-apr-2019-16.jpg);
    color: white;
    height: 60px; 
    border-bottom: 7.5px solid rgb(9, 30, 151); 
    list-style: none;
    align-items: center;
    justify-content: space-between;
    text-shadow: 3px 3px 3px rgb(250, 246, 246);
    padding: 0 20px;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.navbar li{
    display: inline-block;
}

.button_header{
    background-color: rgba(255, 255, 255, 0.151);
    color: white;
    border: 3px solid rgb(9, 30, 151); 
    border-radius: 30px;
    width: 100px;
    height: 40px;
    font-size: 20px;
}

button:hover{
    transform: scale(1.1);
    transition: all 1s;
}

.button_body{
    background-color: rgb(255, 255, 255);
    color: rgb(14, 13, 13);
    font-size: 20px;
    border: 1px solid #fff;
    margin-left: 10%;
}

.button_body, img{
    border-radius: 10px;
    width: 250px;
    height: 180px; 
    max-width:  250px;
    max-height: 300px;
    box-shadow: 1px 1px 1px 1px rgb(94, 91, 91);
}

.header{
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.footer{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    
}

.header, .footer{
	background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/534/379/small/RR-v-apr-2019-16.jpg");
	background-color: gray;
	color: white;
	flex: none;
	padding: 15px;
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 1000;
    bottom: 0;
}

.column-1{
	flex: 0 0 12.5%;
	max-width: 12.5%;

}

.column-2{
	flex: 0 0 25%;
	max-width: 25%;
}

.column-3{
	flex: 0 0 37.5%;
	max-width: 37.5%;
}

.column-4{
	flex: 0 0 50%;
	max-width: 50%;
}

.column-5{
	flex: 0 0 62.5%;
	max-width: 62.5%;
}

.column-6{
	flex: 0 0 75%;
	max-width: 75%;
}

.column-7{
	flex: 0 0 87.5%;
	max-width: 87.5%;
}

.column-8{
	flex: 0 0 100%;
	max-width: 100%;
}

.column-1, .column-2{
	padding: 0px 10px;
}

.mt-5{ margin-top: 5px; }
.mt-10{ margin-top: 10px; }
.mt-20{ margin-top: 20px; }

.btn-principal{
	background-color: blue;
	border: 1px solid blueviolet;
	color: white;
}

.input, .boton{
	height: 30px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

.text-center{ text-align: center; }
.text-right{ text-align: right; }
.text-left{ text-align: left; }
.justify-text{ text-align: justify; }

summary{ font-size: 1.5rem;}

textarea{ 
	width: 100%
}

@media (max-width: 600px){ /*cambio de tamaño en pantalla*/
	.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8{
		flex: 0 0 100%;
		max-width: 100%;
	}

	.text-right{
		text-align: left;
	}

	.mmt-5{
		margin-top: 5px;
	}
}

.ml{margin-left: 20px;}
.mr{margin-right: 20px;}
.mt{margin-top: 80px;}
.mt-5{ margin-top: 5px; }
.mt-10{ margin-top: 10px; }
.mt-20{ margin-top: 20px; }
.mt-10{margin-top: 10px;}
.mb{margin-bottom: 120px;}
.ml-10por{ margin-left: 5%;}
.ml-10por{ margin-left: 10%;}
.ml-15por{ margin-left: 15%;}

.text-center{ text-align: center; }
.text-right{ text-align: right; }
.text-left{ text-align: left; }
.justify-text{ text-align: justify; }

@media (max-width: 600px){ /*cambio de tamaño en pantalla*/
	.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8{
		flex: 0 0 100%;
		max-width: 100%;
	}

	.text-right{
		text-align: left;
	}

	.mmt-5{
		margin-top: 5px;
	}
}